<% provide(:title, "Education") %>
<br>
<span>I am currently a Technologist in Internet Systems and a Bachelor in Computer Science, I am very proud of the Institute and Universities I was a part of, so I dedicate this page to them.</span>
<hr/>

<div class="institution">
	<div class="img-wrapper">
		<img src="https://editor.ifpb.edu.br/campi/joao-pessoa/joao-pessoa/arquivos/imagens/copy_of_fachadacampusjoaopessoaIFPB1.JPG/image_preview">
	</div>
	<div class="text-wrapper">
		<h2 class="title">IFPB</h2>
		<span>The IFPB - Insituto Federal de Educação, Ciência e Tecnologia da Paraíba located at João Pessoa- PB, Brazil is a federal education instition the offers highschool integrated with professional-technical education, undegraduate and graduate (masters) level courses. </span><br>
		<span>My degree is from a 3 year technologist course. "Technology in Internet Systems" </span>
	</div>
</div>

<hr/>

<div class="institution">
	<div class="img-wrapper"><img src="http://www.quimica.ufpb.br/image/logoUFPB%20transp.gif"></div>
	<div class="text-wrapper">
		<h2 class="title">UFPB</h2>
		<span>The UFPB - Universidade Federal da Pariba located at João Pessoa- PB, Brazil is a federal university, the largest of the state with a budget smaller only to the 2 biggest cities of the state itself. One of the best universities in the country, renowend for its Law, Physics and Medicine majors.</span>  <br>
		<span>The Computer Science Department has been getting bigger and better every year with new research projects headed by our largest lab (LAVID) and in  2015 inaugurated a new campus for it and thus got a new name: "Center of Informatics" </span> <br>
		<span>There I got my 4 year Computer Science Bachelor Degree </span><br>
	</div>
</div>

<hr/>

<div class="institution">
	<div class="img-wrapper"><img src="http://richmondcc.edu/sites/default/files/unclogo.png"></div>
	<div class="text-wrapper">
		<h2 class="title">UNC</h2>
		<span> The University of North Carolina at Chapel Hill is a worldwide known institution. As Visiting Student I had the chance to experience this great University. Chosen to be part of the Brazilian Government Scientific Mobility program I was sponsored to go to Chapel Hill and study there for a year and send reports of the experience.</span><br>
		<span> In that time I grew more interested in environmental studies and in the diversity of people, cultures and customs around the world, and because of that started learning German (and French on the side)</span><br>
	</div>
</div>
