<% content_for :title do %>
  <title>Education</title>
<% end %>

<br>
<span>I am currently a Technologist in Internet Systems and a Bachelor in Computer Science, I am very proud of the Institute and Universities I was a part of, so I dedicate this page to them.</span>
<hr/>

<div class="institution">
	<div class="img-wrapper">
		<img src="https://editor.ifpb.edu.br/campi/joao-pessoa/joao-pessoa/arquivos/imagens/copy_of_fachadacampusjoaopessoaIFPB1.JPG/image_preview">
	</div>
	<div class="text-wrapper">
		<h2 class="title">IFPB</h2>
		<span>The IFPB - Insituto Federal de Educação, Ciência e Tecnologia da Paraíba located at João Pessoa- PB, Brazil is a federal education instition the offers highschool integrated with professional-technical education, undegraduate and graduate (masters) level courses. </span><br>
		<span>My degree is from a 3 year technologist course. "Technology in Internet Systems" </span>
	</div>
</div>

<hr/>

<div class="institution">
	<div class="img-wrapper"><img src="https://editor.ifpb.edu.br/campi/joao-pessoa/joao-pessoa/arquivos/imagens/copy_of_fachadacampusjoaopessoaIFPB1.JPG/image_preview"></div>
	<div class="text-wrapper">
		<h2 class="title">UFPB</h2>
		<span>The IFPB - Insituto Federal de Educação, Ciência e Tecnologia da Paraíba located at João Pessoa- PB, Brazil is a federal education instition the offers highschool integrated with professional-technical education, undegraduate and graduate (masters) level courses. </span><br>
		<span>My degree is from a 3 year technologist course. "Technology in Internet Systems" </span>
	</div>
</div>

<hr/>

<div class="institution">
	<div class="img-wrapper"><img src="https://editor.ifpb.edu.br/campi/joao-pessoa/joao-pessoa/arquivos/imagens/copy_of_fachadacampusjoaopessoaIFPB1.JPG/image_preview"></div>
	<div class="text-wrapper">
		<h2 class="title">UNC</h2>
		<span>The IFPB - Insituto Federal de Educação, Ciência e Tecnologia da Paraíba located at João Pessoa- PB, Brazil is a federal education instition the offers highschool integrated with professional-technical education, undegraduate and graduate (masters) level courses. </span><br>
		<span>My degree is from a 3 year technologist course. "Technology in Internet Systems" </span>
	</div>
</div>
