<div id="sidebar-wrapper">
		<ul class="sidebar-nav">
			<li class="sidebar-brand">Welcome</li>
			<li><a href="#">Home</a></li>
			<li><a href="#">Education</a></li>
			<li><a href="#">Work</a></li>
			<li><a href="#">Interests</a></li>
		</ul>
	</div>
	<div class="content">
</div>
